.tile-board{
    height: 90vh;
    width: 500px;
    padding: 10px;
    background-color: darkslateblue;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(20, 1fr);
    gap: 1px;
}
