.container{
    height: 100vh;
    width: 210vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center
}
.board {
    height: 85vh;
    width: 80vh;
    background-color: aquamarine;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(20, 1fr);
    grid-gap: 1px;
}

.item{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}